{
  "extends": "airbnb",
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  "env": {
    "jest": true
  },
  "rules": {
    "semi": [
      "error",
      "never"
    ],
    "comma-dangle": [
      "error",
      "only-multiline"
    ],
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "no-use-before-define": "off",
    "import/prefer-default-export": "warn",
    "import/no-extraneous-dependencies": "off"
  }
}